<?xml version="1.0" encoding="UTF-8"?>
        <!--http://stackoverflow.com/questions/35927682/why-does-log4j2-not-log-to-a-file-after-packaging-as-a-jar-in-eclipse-->
<Configuration status="info" name="com.makco.smartfinance" packages="">
    <Properties>
        <Property name="log-path">${env:USERPROFILE}\smart_finance\logs</Property>
        <Property name="username">${env:USERNAME}</Property>
    </Properties>
    <Appenders>
        <!--
        <RollingFile name="Root" fileName="${log-path}\root.log" filePattern="$${log-path}/logs_$${date:yyyy-MM}/root-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        -->
        <RollingFile name="RollingFile" fileName="${log-path}\app.log" filePattern="$${log-path}/logs_$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="Hibernate" fileName="${log-path}\hibernate.log" filePattern="$${log-path}/logs_$${date:yyyy-MM}/hibernate-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--
        <Root level="TRACE">
            <AppenderRef ref="Root"/>
        </Root>
        -->
        <logger name="com.makco.smartfinance" level="TRACE">
            <AppenderRef ref="RollingFile"/>
        </logger>
        <logger name="org.hibernate" level="TRACE">
            <AppenderRef ref="Hibernate"/>
        </logger>
    </Loggers>
</Configuration>