<?xml version="1.0" encoding="UTF-8"?>
        <!--http://stackoverflow.com/questions/35927682/why-does-log4j2-not-log-to-a-file-after-packaging-as-a-jar-in-eclipse-->
<Configuration status="info" name="com.makco.smartfinance" packages="">
    <Appenders>
        <!--<RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">-->
        <RollingFile name="RollingFile" fileName="c:/app.log" filePattern="c:/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>